@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

/*CSS Reset*/
body, nav, section, fieldset, footer, h1, h2, h3, p, a, ul, li, dt, dd, label, input  
{
    margin: 0;
    padding: 0;
    list-style: none;
    font: 100%;
    text-decoration: none;
    font: normal;
    color: inherit;
    box-sizing: border-box;
    margin: auto;
}

body   
{
    font: 62.5%;
    color: #2F3033;
    background: #FAFAF9;
}

/*Added bold to headings*/
h1, h2   
{
    font: bold;
}

/*Margin and bold for both navigations, top and bottom*/
nav  
{
    font-weight: bold;
    margin-bottom: 5rem;
    
}

h1   
{
    font-size: 5rem;
    margin-bottom: 6rem;
    text-align: center;
}

header
{
    overflow: auto;
}

#selected  
{
    color: #ED715C;
}

footer   
{
    background-color: #232225;
    color: #FFFFFF;
    overflow: auto;
}

button   
{
    margin-top: 4rem;
    margin-bottom: 5rem;
    font-size: large;
    padding: 1.5rem 3rem;
    border-radius: 2.5rem;
    outline: none;
    background-color: #FCEBC9;
    color: #ED715C;
}

button:hover
{
    background-color: #FFFFFF;
    color: black;
}

/*Adjusts navigation at top and bottom to display as inline block and padding for space*/
nav li   
{
    display: inline-block;
    padding: 0rem 2rem;
}

/*Each navigation item changes color when hovered over*/
nav li:hover   
{
    color: #ED715C;
}

/*Adds margin to paragraphs*/
p    
{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    float: left;
}

nav, body > section, footer  
{
    max-width: 100rem;
    margin: 0 auto;
    padding: 1.5rem;
}

html
{
    font-family: "Urbanist", sans-serif;
}

/*Header menu float*/
#headerMenu  
{
    float: left;
    width: 1500px;
}

/*Header 1 clear*/
h1   
{
    clear: both;
}

/*Logo image float*/
#logo    
{
    float: left;
    padding-left: 2rem;
}

/*Header navigation menu clear*/
#headerMenu::after   
{
    content: "";
    display: block;
    clear: both;
}

/*Right side of header menu padding*/
#userMenu li 
{
    padding-right: 0.25rem;
}

/*Right side of header menu float*/
#userMenu   
{
    float: right;
}

nav ul
{
    padding-top: 2rem;
}

/*Footer clear*/
footer  
{
    clear: both;
}

/*Footer image float*/
footer img   
{
    float: left;
    padding-bottom: 2rem;
}

/*Footer navigation mune padding*/
footer nav  
{
    padding-top: 2.5rem;
}

/*Footer phone element padding*/
#footerPhone   
{
    padding-left: 25rem;
}

#contactInfo li
{
    display: inline-block;
    margin-left: 3rem;
}

#contactInfo ul
{
    padding-bottom: 2rem;
    float: left;
}

#link
{
    font-weight: normal;
    font: #7E7E7E;
}

#link:hover
{
    text-decoration: underline;
}

iframe
{
    width: 96rem;
    border-radius: 2rem;
}

h2
{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

input, textarea {
    width: 90%;
    padding: 1rem 0;
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.75);
    outline: none;
    border-radius: 2rem;
}

input:focus, textarea:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

section img
{
    float: right;
    padding-bottom: 5rem;
    border-radius: 3rem;
}

fieldset
{
    border: 0;
    padding-bottom: 1rem;
}

label strong
{
    color: #AAAAAA;
    font-weight: normal;
}

div label
{
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

input
{
    background-color: #F5F5F5;
}

textarea
{
    background-color: #F5F5F5;
}

#locationIcon
{
    width: 6rem;
    height: 5rem;
    float: left;
}

#phoneIcon
{
    width: 5rem;
    height: 5rem;
    float: left;
}

#emailIcon
{
    width: 5rem;
    height: 5rem;
    float: left;
}

