@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body, nav, section, footer, article, h1, h2, h3, h4, h5, p, a, ul, li, dt, dd
{
    margin: 0;
    padding: 0;
    list-style: none;
    font: 100%;
    text-decoration: none;
    font: normal;
    color: inherit;
    box-sizing: border-box;
    margin: auto;
    font-family: "Roboto";
    font-weight: bold;
}

nav, body, footer
{
    max-width: 100rem;
    margin: 0 auto;
    padding: 5rem;
}

body > section
{
    border-bottom: 1px;
}


html
{
    font-family: Arial, Helvetica, sans-serif;
}

nav li
{
    display: inline-block;
}

h1
{
    font-size: 2.5rem;
    margin: 2rem 0 2rem 0;
}

h2
{
    font-size: 2rem;
    margin: 1.5rem 0 1.5rem 0;

}

h3
{
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
}

p
{
    color: #9A9A9A;
    font-size: 1rem;
    margin: 1rem 0 1rem 0;
}


img
{
    display: block;
    min-height: 17rem;
    background: rgba(255, 255, 255, .1);
}

header
{
    background-color: #FCFCFC;
    color: #151515;
}

header h1
{
    float: left;
    margin-right: 100px;
}

header section ul
{
    margin-top: 40px;
    margin-left: 100px;
}

body > section::after
{
    border-bottom: 1px;
}

body > section
{
    content: "";
    display: block;
    clear: both;
}

#info img
{
    float: left;
}
#info::after
{
    border-bottom: 1px;

}
#info::after
{
    content: "";
    display: block;
    clear: both;

}

#info p
{
    text-align: center;
}
#info button
{
    margin-left: 275px;
}

a
{
    color: #151515;
    display: inline-block;
    padding: .5rem 1rem;
}

#selected
{
    color: #7ACBA7;
}



#contact
{
    background: #373D41;
    color: #9B9B9B;
    display: block;
    float: left;
    
}


#contact li
{
    display: inline-block;
}

#phoneNum
{
    margin-left: 1200px;
}

#petServices
{
    background-image: url("file:///Users/jessicabyrne/Desktop/WDD/futch_Jessica_1.5IntroToHTMLProject/Images/Hero.jpg");
    background-size: 1795px;
    width: 1440px;
    height: 550px;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

#servicesSection
{
    background-color: #F2F3F8;
}

button
{
    color: #FFFFFF;
    background-color: #7ACBA7;
    padding: 1rem 1.5rem;
}

#careServices
{
    color: white;
    background-image: url("file:///Users/jessicabyrne/Desktop/WDD/futch_Jessica_1.5IntroToHTMLProject/Images/cat.jpg");
    background-size: 1795px;
    width: 1440px;
    height: 550px;
    background-repeat: no-repeat;
    text-align: center;

}

#title
{
    text-align: center;

}

#title h2
{
    padding-top: 100px;
}

#title2
{
    text-align: center;

}

#cameraCat
{
    width: 750px;
    height: 550px;

}

#careServices > p
{
    color: white;
}


#button2
{
    background-color: #EFA56B;
}

#ourServices
{
    color: black;
    background-color: #F2F3F8;
    text-align: center;
}

#ourServices article
{
    float: left;
    margin-left: 65px;
    margin-bottom: 50px;
    margin-top: 15px;
}

#stats
{
    display: inline-block;
    background-color: #7ACBA7;
    color: #FFFFFF;
    width: 1440px;
}

#stats li
{
    display: inline-block;
    margin: 0 3rem 0 3rem;
    text-align: center;
}

article > img
{
    display: inline-block;
    max-height: 1rem;
    max-width: 1rem;
    background: rgba(255, 255, 255, .1);

}

#imgs1
{
    float: left;
}

#imgs2
{
    float: left;
}


footer
{
    color: black;
    background-color: #FFFFFF;
}

#footerInfo
{
    float: left;
    text-align: center;
}

#feed
{
    float: left;

}

#social
{
    color: #50525D;
}
#social li
{
    display: inline-block;
}
#news
{
    text-align: center;
}